#form{
    background-color: white;
    filter: drop-shadow(4px 10px 4px #3b3b44);
    border-image-outset: 15px;
}
#form h2{
    display: flow;
    text-align: center;
    padding-top: 1rem;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
.btn-success{
    font-size: 1.3rem;
    background-color: #8cbade;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 1px solid #8cbade;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
.btn-success:hover{
    /* the !important means that the computer HAS TO execute this one. It's the most important */
    background-color: blue!important; 
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#totalPets{
    border: 2px solid #8bb4a7;
    background-color: #ebb7b7;

    margin-top: 5rem;
}
#searchDiv{
    border: 2px solid #8bb4a7;
    background-color: #ebb7b7;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#bDay{
    display: flex;
    justify-content: center;
}
#bDay p{
    padding-top: 1.6rem;
}
#bDay i{
    font-size: 2rem;
}
#countA{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    background-color: white;
    padding-top: 1.4rem;
    padding: 1rem;
    padding-top: 1.4rem;
}
#searchDiv{
    display: flex;
    justify-content: center;
}
#petSearch{
    width: 18rem;
    margin: .5rem;
    margin-top: 2.4rem;
}
#search-btn{
    height: 4rem;
}

table{
    background-color: white;
    border: 2px solid #8bb4a7;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
thead{
    font-size: 1.2rem;
    color: rgb(238, 185, 205);
    text-transform: uppercase;
    background-color: #b47b7b;
}
/* Services Styling */
#serviceBlocks{
    display: flex;
    align-items: column;
}
#serviceBlocks h3{
    font-size: 2rem;
}
#serviceBlocks img{
    height: 12rem;
    width: 12rem;
    border: 1px solid #8cbade;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#shower #hairCut #toeNail #fullService{
    border: 1px solid white;
}
#shower:hover{
    background-color: white;
}
#hairCut:hover{
    background-color: white;
}
#toeNail:hover{
    background-color: white;
}
#fullService:hover{
    background-color: white;
}
/* JQuery interactions for test4.js */
.active{
    background-color: #669784;
    border: 3px solid rgb(129, 200, 202);
}
.red-bg{
    background-color: red;
}
